body {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 120px;
}

div.container {
  width: 100%;
  border: 2px;
}

div.box {
  box-sizing: border-box;
  width: 50%;
  border: 5px;
  float: left;
}
