body {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 80px;
}

div.container {
  width: 100%;
  border: 2px;
}

div.box1 {
  box-sizing: border-box;
  width: 40%;
  border: 5px;
  float: left;
}

div.box2 {
  box-sizing: border-box;
  width: 60%;
  border: 5px;
  float: left;
}
